.grid-style {
    background-color: #171717;
    width: 20px;
    height: 20px;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height:600px;
    flex-shrink: 0;
    border: 5px solid black;
}